
.radialMenu {
  & * {
    box-sizing: border-box;
  }

  &-container {
    width: 700px;
    height: 700px;
    background: grey;
    position: relative;
  }

  &-center {
    position: absolute;
    left: 300px;
    top: 300px;
    height: 100px;
    width: 100px;
    transition: transform ease-in 600ms;
  }

  &-segment {
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

      top: -300px;
      left: -300px;

    &:first-child {
      transform: rotate(0deg);
    }
    &:nth-child(2) {
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      transform: rotate(180deg);
    }
    &:nth-child(4) {
      transform: rotate(270deg);
    }
  }

  &-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

    &:first-child {
      width: 240px;
      
      .radialMenu-line {
        width: 240px;
      }
    }
    
    &:nth-child(2) {
      width: 180px;

      .radialMenu-line {
        width: 180px;
      }
    }
    
    &:nth-child(3) {
      width: 120px;

      .radialMenu-line {
        width: 120px;
      }
    }

  }

  &-text-container {
    display: flex;
    flex-direction: column-reverse;
    height: 90px;
  }

  &-line {
    height: 10px;
    background-color:black;

    &:first-child {
      width: 240px;
    }
    
    &:nth-child(2) {
      width: 180px;
    }
    
    &:nth-child(3) {
      width: 120px;
    }
  }
}